// https://sass-lang.com/documentation/modules/color
@import 'variables';

h1 {
  color: $red;
  transform: rotate(
    -7deg
  ); // it requires a vender prefixe because it is not supportted by older browsers

  span {
    // h1 span
    color: $blue;
  }

  // & is the parent selector
  &:hover {
    // h1:hover
    color: darken($red, 10%);
  }
}
